body {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  background-color: #bdd5f1;
  width: 415px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 415px) {
  .wrap {
    background-color: #bdd5f1;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 375px) {
  .wrap {
    background-color: #bdd5f1;
    width: 100%;
    height: 100%;
  }
}
